page-login {
    .login-container {
        position: relative;
        max-width: 320px;
        min-height: 573px;
        padding-top: 200px;
        margin: auto;
    }
    .form-container > * {
        padding: 15px;
        margin: auto;
    }
    .button-block {
        max-width: 50%;
    }
}
