page-login {
    .login-container {
        // position: relative;
        // max-width: 320px;
        // min-height: 573px;
        // padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        margin-top: 25%;
        
    }
    .login-rows {
        flex: 1;
        width: 75vw;
        max-width: 750px;
    }
    // .form-container > * {
    //     padding: 15px;
    //     margin: auto;
    // }
    .login-button {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 16px;
    }
}
