page-login {
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        margin-top: 25%;
        
    }
    .login-rows {
        flex: 1;
        width: 75vw;
        max-width: 750px;
    }
    .login-button {
        display: flex;
        flex: 1;
        justify-content: center;
        margin-top: 15%;
    }
    footer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 20%;
    }
}
