<ion-card text-center>
        <ion-title>{{'TESTLIST.TITLE' | translate}}</ion-title>
        <h2>{{'TESTLIST.DATE' | translate}}</h2>
    <ion-card-content>
        <ion-list text-wrap>
            <ion-item>
                <h2>{{'TESTLIST.AGREE' | translate}}</h2>
                <h3>{{'TESTLIST.DESCRIP' | translate}}</h3>
                <p>{{'TESTLIST.AGREED' | translate}}</p>
            </ion-item>
             <ion-item>
                <h2>{{'TESTLIST.CONSCIENTIOUSNESS' | translate}}</h2>
                <h3>{{'TESTLIST.DESCRIP' | translate}}</h3>
                <p>{{'TESTLIST.CONSCIENTIOUSNESSD' | translate}}</p>
            </ion-item>
            <ion-item>
                <h2>{{'TESTLIST.EMOTIONAL' | translate}}</h2>
                <h3>{{'TESTLIST.DESCRIP' | translate}}</h3>
                <p>{{'TESTLIST.EMOTIONALD' | translate}}</p>
            </ion-item>
            <ion-item>
                <h2>{{'TESTLIST.EXTRAVERSION' | translate}}</h2>
                <h3>{{'TESTLIST.DESCRIP' | translate}}</h3>
                <p>{{'TESTLIST.EXTRAVERSIOND' | translate}}</p>
            </ion-item>
            <ion-item>
                <h2>{{'TESTLIST.INTELLECT' | translate}}</h2>
                <h3>{{'TESTLIST.DESCRIP' | translate}}</h3>
                <p>{{'TESTLIST.INTELLECTD' | translate}}</p>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
