<ion-card>
    <ion-list>
        <ion-item>
            <h2>Agreeableness</h2>
            <h3>Description:</h3>
            <p>A person with a high level of agreeableness in a personality test is usually warm, friendly, and tactful. They generally have an optimistic view of human nature and get along well with others.</p>
        </ion-item>
         <ion-item>
            <h2>Conscientiousness</h2>
            <h3>Description:</h3>
            <p>A trait characterized by organization, purposeful action, self-discipline, and a drive to achieve. </p>
        </ion-item>
        <ion-item>
            <h2>Emotional Stability</h2>
            <h3>Description:</h3>
            <p>A trait characterized by a steadiness of mood, ability to withstand minor setbacks, failures, difficulties, and other stresses without becoming upset emotionally</p>
        </ion-item>
        <ion-item>
            <h2>Extraversion</h2>
            <h3>Description:</h3>
            <p>Defined as a behavior where a person enjoys being around people more than being alone.</p>
        </ion-item>
        <ion-item>
            <h2>Intellect</h2>
            <h3>Description:</h3>
            <p>The faculty of reasoning and understanding objectively, especially with regard to abstract or academic matters.</p>
        </ion-item>
    </ion-list>
</ion-card>
