page-question {
  .label {
    display: flex;
    justify-content: space-between;
  }
  ion-buttons[start] {
    order: 2;
  }
  .name {
    font-style: italic;
  }
  h2 {
    font-weight: bold;
  }
  .instruction {
    text-align: center;
    line-height: 25px;
  }
  .inactive {
    visibility: hidden;
  }
  .labels div {
    width: 20%;
    text-align: center;
  }
  .labels {
    display: flex;
  }
  .card-container {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  .progress-bar {
    margin-top: 20px;
  }
  .label p {
    margin: 0;
  }
  @media only screen and (min-width: 375px) and (max-width: 567px) {
    .label p {
      margin: 14px;
    }
    .progress-bar {
      margin-top: 40px;
    }
  }
  @media only screen and (min-width: 568px) and (max-width: 767px) {
    .main-container {
      display: flex;
      align-items: center;
    }
    .left-container {
      margin-right: 10px;
    }
    .name {
      font-size: 0.8em;
    }
    .test-name {
      font-size: 1.5em;
    }
    .instruction {
      line-height: 20px;
    }
    .card-container {
      height: 70px;
    }
    .label p {
      margin: 5px 0;
    }
    .progress-bar {
      margin-top: 18px;
    }
  }
  @media only screen and (min-width: 768px) {
    .main-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    .card-container {
      height: 100px;
    }
    h4 {
      margin-top: 20px !important;
      font-size: 2em;
    }
    .test-name {
      font-size: 2.5em;
    }
    .instruction {
      margin-bottom: 20px;
    }
    .label p {
      margin: 14px 0 0 0;
    }
    .progress-bar {
      margin-top: 40px;
    }
  }
  @media only screen and (min-width: 1025px) {
    .main-container {
      margin: 0 auto;
      max-width: 1024px;
    }
    .label p {
      margin: 14px 0 0 0;
    }
    .progress-bar {
      margin-top: 40px;
    }
  }
}
