page-landing {
        
        .container{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 50px;
                padding-bottom: 0; 
                padding-top: 100px;
                font-size: 30px;

        }
        .title{
                text-align: center;

        }

      
       .photo{
                height: 75px;
                width: 75px;
                top:0;
                left: 90px;
                margin: auto;
                justify-content: center;
        }
        .wizard{
                height: 255px;
                width: 255px;
                margin: 20px;
                border: solid color($colors, primary) 3px;
                text-align: center;
                font-size: 40px;
      
        }
        .h2{
                font-size: 10px;
                padding: 5px;
                margin-top: 0px
                
        }
        .bottom{
                width: 90px;
                margin: auto;
                text-align: center;
                font-size: 15px;
                color: white;
                position: relative;
                top:0;
        }
         
        .login{
                padding-top: 15px;
                color: color($colors, primary);
                cursor: pointer;
                text-decoration: underline;
        }
        .login:hover {
                 text-decoration: underline;
        }

        .button-block{
                color:white;
                background:#0d0630;
                font-size: 15px;
                outline: none;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                justify-content: center;
                
        }
        .font{
                font-size: 15px;
                color: color($colors, primary);
                margin-bottom: 40px;
        }
   
        .spanish:hover {
                 text-decoration: underline;
                 cursor: pointer;
                 display: inline-block;
        }
        .english:hover {
                 text-decoration: underline;
                 cursor: pointer;
                 display: inline-block;
        }
         .lang{
                 display: inline-block;
                 font-size: 10px;
                 color: color($colors, primary);
                font-family: Ubuntu;
        }
        .spanish{
        padding-left: 5px;
        }
        
        @media screen and (min-width: 768px){
                .container{
                        padding: 150px;
                        padding-bottom: 0;
                        
                }
                        
                .wizard{
                        height: 450px;
                        width: 450px;
                }
                .bottom{
                        width: 250px;
                        font-size: 35px;
                        // display: flex;
                        width: 300px;
                }
                       
                .button-block{
                        padding: 15px;
                        font-size: 25px;
                        height: 70px;
                }
                .photo{
                        height: 180px;
                        width: 180px;
                        top:0;
                        left: 135px;
                        padding: 30px;
                }
                .font{
                font-size: 30px;
                
                }
                .login{
                        padding-top: 16px;
                }
        } 
        
        @media screen and (min-width: 1440px){
                .container{
                        padding-bottom: 0;
                        padding-top: 250px;
                        
                        
                }
                .wizard{
                        height: 650px;
                        width: 650px;
                        padding-left: 10px;
                        padding-right: 10px;
                }
                .bottom{
                        width: 350px;
                        font-size: 40px;
                        width: 400px;
                       
               }
                .button-block{
                        padding: 20px;
                        font-size: 45px;
                        height: 90px;
                }
                .photo{
                        height: 220px;
                        width: 220px;
                        top:0;
                        left: 215px;
                        padding: 20px;
                }
                .font{
                        font-size: 30px;
                        color: color($colors, primary);
                }
                .login{
                        padding-top: 10px;
                        font-size: 50px;
                }
        }        
        @media screen and (min-width: 1025px){
                .container{
                        padding-bottom: 0;
                        padding-top: 0px;
                        
                }
                .button-block{
                        height: 75px;
                        font-size: 40px;
                }
                .wizard{
                        height: 530px;
                        width: 530px;
                        padding-left: 10px;
                        padding-right: 10px;
                }
                .photo{
                        left: 177px;
                        padding-top: 10px;
                        margin: auto;
                }
                u:hover {
                    cursor: pointer;
                }
                
        }
        
        // @media screen and (max-height: 901px){
        //         .container{
        //                 padding: 0;
        //                 padding-bottom: 0;
                        
        //         }
                        
        //         .wizard{
        //                 height: 320px;
        //                 width: 320px;
        //         }
        //         .bottom{
        //                 font-size: 15px;
        //                 display: flex;
        //                 width: 300px;
        //         }
                       
        //         .button-block{
        //                 padding: 15px;
        //                 font-size: 15px;
        //                 height: 40px;
        //         }
        //         .photo{
        //                 height: 180px;
        //                 width: 200px;
        //                 top:0;
        //                 left: 135px;
        //                 padding: 10px;
        //         }
        //         .font{
        //         font-size: 18px;
                
        //         }
        //         .login{
        //                 font-size: 20px;
        //                 padding-top: 16px;
        //                 padding-left: 30px;
        //         }
        // } 
        
}
