page-landing {
        
        #body{
         background:#384e77;
    }
        .container{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 110px;
                padding-bottom: 0;
                font-size: 40px;
        }
        .title{
                text-align: center;

        }

      
       .photo{
                height: 75px;
                width: 75px;
                // background-image: url("https://cdn.pixabay.com/photo/2017/01/05/01/05/growth-1953662_640.jpg");
                // background-repeat:no-repeat;
                // background-attachment:fixed;
                // background-position:center;
                //border: solid black 5px;
                position: absolute;
                top:0;
                left: 85px;
        }
        .wizard{
                height: 250px;
                width: 248px;
                margin: 20px;
                //border: solid black 5px;
                text-align: center;
                font-size: 40px;
      
        }
        .h2{
                font-size: 150px;
                
        }
        .bottom{
                width: 90px;
                margin: auto;
                text-align: center;
                font-size: 15px;
                color: white;
                position: relative;
                top:0;
        }
        .button-block{
                color:white;
                background:#0d0630;
                font-size: 10px;
                outline: none;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                
                
        }
        .font{
                font-size: 18px;
                color: white;
                font-family: Ubuntu;
        }
        
        @media screen and (min-width: 768px){
                .container{
                        padding: 150px;
                        
                }
                        
                .wizard{
                        height: 450px;
                        width: 450px;
                }
                .bottom{
                        width: 250px;
                        font-size: 30px;
                }
                       
                .button-block{
                        padding: 15px;
                        font-size: 20px;
                        height: 70px;
                }
                .photo{
                        height: 150px;
                        width: 150px;
                        top:0;
                        left: 155px;
                }
                .font{
                font-size: 35px;
                
        }
        } 
        @media screen and (min-width: 1024px){
                .wizard{
                        height: 650px;
                        width: 650px;
                }
                .bottom{
                        width: 350px;
                        font-size: 35px;
                       
               }
                .button-block{
                        padding: 20px;
                        font-size: 25px;
                        height: 70px;
                }
                .photo{
                        height: 200px;
                        width: 200px;
                        top:0;
                        left: 250px;
                }
                .font{
                font-size: 50px;
                color: white;
                font-family: Ubuntu;
        }
        }        
}