page-landing {
        .container{
                display: flex;
                align-items: center;
                justify-content: center;
        }

        .title{
                height: 50px;
                margin: 20px;
                border: solid black 5px;
                text-align: center;

        }
     
        .photo{
                height: 50px;
                width: 50px;
                margin: 20px;
                border: solid black 5px;
                text-align: center;
      
     
        }
        .wizard{
                height: 250px;
                width: 250px;
                margin: 20px;
                border: solid black 5px;
                text-align: center;
      
        }
        .bottom{
                width: 90px;
                margin: auto;
                text-align: center;
        }
        .button-block{
                color:white;
                background:red;
                font-size: 15px;
                padding: 10px 5px;
                outline: none;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
}