<ion-content padding>
  <p class="menu-instruction">Please enter your new password.</p>
  <form [formGroup]="newPasswordForm" (ngSubmit)="passwordChange(newPasswordForm)">
      <ion-item>
        <ion-label>Password: </ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirm Password: </ion-label>
        <ion-input type="text" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <button class="menu-button" ion-button type="submit" [disabled]="!newPasswordForm.valid">Submit</button>
    </form>
  
</ion-content>
