<ion-content padding>
  <p class="menu-instruction">{{'PASSWORDRESET.INSTRUCTION' | translate}}</p>
  <form [formGroup]="newPasswordForm" (ngSubmit)="passwordChange(newPasswordForm)">
      <ion-item>
        <ion-label>{{'PASSWORDRESET.PASSWORD' | translate}}</ion-label>
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'PASSWORDRESET.CONFIRM' | translate}}</ion-label>
        <ion-input type="text" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <button class="menu-button" ion-button type="submit" [disabled]="!newPasswordForm.valid">{{'PASSWORDRESET.SUBMIT' | translate}}</button>
    </form>
  
</ion-content>
