search-history {
    
    
    .small-chart {
      
        display: flex!important;
        margin-left: auto;
        justify-content: flex-end!important;
        
    }
    
    .chart-align > * {
        display: flex!important;
        margin-left: auto;
        justify-content: flex-end!important;
    }
    

    .container-width {
      
    }

}
