<!-- Generated template for the SearchHistoryComponent component -->
<div>
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="doSearch($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  
  <div *ngIf="displayDropdown">
    <ion-card>
      <ion-label>Search results</ion-label>
      <ion-list>
      <ion-item *ngFor="let test of filteredTestList" (click)="selectedTest($event, test)">
        <h2> {{ test.name }} </h2>
        <h3> Taken on: <strong>{{ test.date }}</strong> </h3>
      </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="searchDate">
    </ion-datetime>
  </ion-item>
  

  
  <ion-label>Tests I've taken</ion-label>
  <ion-list>
    <ion-item *ngFor="let test of testList" (click)="selectedTest($event, test)">
      <h2> {{ test.name }} </h2>
      <h3> Taken on: <strong>{{ test.date }}</strong> </h3>
      <div class="small-chart">
        <mini-graph></mini-graph>
      </div>
 
    </ion-item>
  </ion-list>
</div>
