<!-- Generated template for the IpiptestlistComponent component -->
<!--<div>-->
<!--  {{text}}-->
<!--</div>-->


<ion-title>Available Tests</ion-title>

<div id="ipipcards">

<ion-card *ngFor="let test of ourListofTests" text-center>
    <ion-card-content  (click)="toQuestionPage()">
        <ion-list text-wrap>
            <ion-item>
                <h2><strong>{{ test.name }}</strong></h2>
                <p> {{ test.description }}</p>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>




<ion-card text-center>
    <ion-card-content>
        <ion-list text-wrap>
            <ion-item>
                <h2>Want Full Access?</h2>
                <h3>Signup Here</h3>
                <p>We offer a variety of personality tests to suit your companies needs. Blah blah blah sales, send them to business signup page.</p>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>

</div>