<!-- Generated template for the IpiptestlistComponent component -->
<!--<div>-->
<!--  {{text}}-->
<!--</div>-->

<ion-card>
    <ion-title>Available Tests</ion-title>
</ion-card>

<ion-card text-center>
    <ion-card-content>
        <ion-list text-wrap>
            <ion-item>
                <h2>Big Five</h2>
                <h3>Goldberg, L. R. (1992)</h3>
                <p>These five scales were developed to measure the Big-Five factor markers reported in Goldberg's 1992 article, "The Development of Markers For The Big Five Factor Structure," published in Psychological Assessment, Vol. 4, No. 1, 26-42.</p>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>
