<!-- Generated template for the IpiptestlistComponent component -->
<!--<div>-->
<!--  {{text}}-->
<!--</div>-->


<ion-title>{{'TESTLIST.TITLE' | translate}}</ion-title>

<div id="ipipcards">

<ion-card *ngFor="let test of ourListofTests" text-center>
    <ion-card-content  (click)="toQuestionPage()">
        <ion-list text-wrap>
            <ion-item>
                <h2><strong>{{ test.name }}</strong></h2>
                <p> {{ test.description }}</p>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>




<ion-card text-center>
    <ion-card-content>
        <ion-list text-wrap>
            <ion-item>
                <h2>{{'TESTLIST.HTWO' | translate}}</h2>
                <h3>{{'TESTLIST.HTHREE' | translate}}</h3>
                <p>{{'TESTLIST.P' | translate}}</p>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>

</div>