<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>PersonaTest</ion-title>
    <ion-toolbar>
      <div padding class="segment">
        <ion-segment [(ngModel)]="testType">
          <ion-segment-button value="personal">
            {{'LOBBY.PERSONAL' | translate}}
          </ion-segment-button>
          <ion-segment-button value="organization">
            {{'LOBBY.PROFESSIONAL' | translate}}
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="main-container" [ngSwitch]="testType">
    <div *ngSwitchCase="'personal'" id="personalsegment">
          <h3>{{'LOBBY.NAME' | translate}} {{ (user | async)?.firstName }}</h3>
          <ion-item>
            <test-search></test-search>
          </ion-item>
          <!-- <div class="testbuttons">-->
          <!--   <button ion-button block [disabled]="hasIncompleteTest" (click)="forPlay()" class="button">{{'LOBBY.TAKE' | translate}}</button>-->
          <!--   <button ion-button block outline (click)="showResults()" class="button2">{{'LOBBY.RESULTS' | translate}}</button>-->
    </div>
        
    <div *ngSwitchCase="'organization'" id="organizationsegment">
          <ion-card class="fixed-card" *ngIf="!orgSelected">
            <ion-card-header translate>LOBBY.FINDORG</ion-card-header>
            <ion-card-content>
              <org-search id="searchbar" [(orgSelected)]="orgSelected"></org-search>
            </ion-card-content>
          </ion-card>
          <ion-card class="fixed-card" *ngIf="orgSelected">
            <ion-item>
              <ion-input [(ngModel)]="orgSelected" clearInput></ion-input>
            </ion-item>
          </ion-card>
          <ion-card *ngIf="orgSelected && !testSelected" class="fixed-card">
            <ion-card-header translate>LOBBY.FINDTEST</ion-card-header>
            <test-search id="searchbar" [(testSelected)]="testSelected"></test-search>
          </ion-card>
          <ion-card class="fixed-card" *ngIf="testSelected">
            <ion-item>
              <ion-input [(ngModel)]="testSelected" clearInput></ion-input>
            </ion-item>
          </ion-card>
          <!--<div class="orgbuttons">-->
            <!-- kluge switching forWork() to forPlay() for testTaken backend creation 
          <!--  <button [disabled]="!testSelected" ion-button block (click)="forWork()" class="button">{{'LOBBY.TAKE' | translate}}</button>-->
          <!--  -->
          <!--  <button [disabled]="!testSelected" ion-button block (click)="forPlay()" class="button">{{'LOBBY.TAKE' | translate}}</button>-->
          <!--  <button [disabled]="!hasHistory" ion-button block outline (click)="viewResults()" class="button2">{{'LOBBY.RESULTS' | translate}}</button>-->
          <!--</div>-->
    </div>
  </div>
</ion-content>
