page-lobby {

    
    *{
         box-sizing: border-box;
         text-align: center;
    }
    
    .scroll-content{
    }

    .toolbar-background {
    }
    
    .toolbar-title{
    }

    #header{
    }
    
    .segment{
    }
    
    #main-container{
        display: flex;
        width: 97vw;
        height: 80vh;
        border: solid red 5px;
        margin: 0 auto;
    }
    
    
    .list{
        display: inline;
        flex: 1 20%;
        width: 97vw;
        height: 75vh;
        border: green solid 5px;
       /* flex-direction: column;
            -webkit-align-items: center;
        align-items: center;
            -webkit-justify-content: center;
        justify-content: center;*/
    }    
     
     .label-md{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
     }
    .item-md{
        padding-left: 0;
        padding-right: 0;
    }
    .item-md .item-button {
        height: 30vh;
        width: 60vw;
        max-width: 200px;
        max-height: 100px;
        font-size: 2rem;
        position: inherit;
    }
    
    
    .button{
          width: 100%;
          height: 100%;
          display:inline;
          font-size: 3rem;
          font-weight:bold;
          color:#fff;
          text-align:center;
          text-shadow:1px 1px 0px #07526e;
          padding-top:6px;
          margin-left:auto;
          margin-right:auto;
          left:30px;
          position:relative;
          background-color: teal;
          border: none;
          border-radius: 5px;
          box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
    }

    
/*     @media screen and (max-width: 768px) and (orientation: landscape){
       .list{
            flex-direction: row;
        }
    }*/

    
}
