<<<<<<< HEAD
       .f{
                  margin-left: 31%;
                
        }
         .bottom{
                    margin-left: 34%;
                
        }
        .submit{
                    margin-left: 43%;
                
        }
=======
.asterik {
        color: red;
    }
>>>>>>> 29f960c81d0a880471a5f97c3cacb1c758ee96c5
