.asterik {
        color: red;
    }
       .f{
                  margin-left: 31%;
                
        }
         .bottom{
                    margin-left: 34%;
                
        }
        .submit{
                    margin-left: 43%;
                
        }
