<!-- Generated template for the OrgSearchComponent component -->
<!--<ion-toolbar id="toolbar">-->
   <!---- Search Bar ---->
<!--  <ion-searchbar(ionInput)="getItems($event)" placeholder="Select a test"></ion-searchbar>-->
<!--</ion-toolbar>-->

 <!---- Search Bar ---->


<div id="search">
  <ion-toolbar id="toolbar">
    <ion-searchbar  [(ngModel)] = "searchInput" (ionInput)="getItems($event)" placeholder="Search Tests"></ion-searchbar>      
  </ion-toolbar>
  <ion-scroll scrollX="false" scrollY="true">
    <ion-list class="testList">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col color="grey" class="card-background-page" *ngFor="let testArray of testArrays| searchTermPipe : searchInput" col-12 col-md-5>
            <ion-card>
              <img src="../../assets/blue-puzzle.jpg"/>
              <div class="card-title">{{ testArray.name }}</div>
              <div class="card-subtitle">{{ testArray.description }}</div>
              <button *ngIf="!this.testHistoryProvider.hasIncompleteTest || this.recentTestId !== testArray.id" ion-button block (click)="testAlert(testArray)" class="button">{{'LOBBY.TAKE' | translate}}</button>
              <button *ngIf="this.testHistoryProvider.hasIncompleteTest && this.recentTestId === testArray.id" ion-button block (click)="testAlert(testArray)" class="button">{{'LOBBY.RESUME' | translate}}</button>
              <!--<button ion-button block outline (click)="viewResults()" class="button2">{{'LOBBY.RESULTS' | translate}}</button>-->
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-scroll>
</div>

<!--(click)="selectedTest(testArray)" -->
