test-search {
  
    div::-webkit-scrollbar {
      border:none;
      width:0;
      background: rgba(0,0,0,0);
    }
     
    div::-webkit-scrollbar-track {
      border:none;
      width:0;
      background: rgba(0,0,0,0);
    }
     
    div::-webkit-scrollbar-thumb {
      border:none;
      width:0;
      background: rgba(0,0,0,0);
    }

    #toolbar{
        height: 100%;
        width: 100%;
        margin: auto;
        outline: 0;
        padding: 0;
    }
    
    .scroll-content {
        padding: 0 !important;
    }
    
    .testList{
      height: 70vh;
      width: 100%;
      margin: auto;
    }
    
    .card-background-page {
      ion-card {
        position: relative;
        text-align: center;
        height: 50%;
        with: 100%;
      }
    
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }
    
    }
    
    @media screen and (min-width: 768px) {
        #toolbar{
            width: 60%;
            margin: 0 auto;
        }
    }
}
