<!--
  Generated template for the CreateTestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PersonaTest</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="container">
    
    <div class="title-input">
    <ion-item>
      <ion-label stacked>Please enter the name of this test</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    </div>
    
  <ion-list>
    <div class="category-list" *ngFor="let category of categories">
      <div *ngFor="let description of descriptions">
      <ion-checkbox></ion-checkbox>
    <button detail-none (click)="expandCategory(category)" ion-item>
      <h2>{{category.name}}</h2>
      <expandable [expandHeight]="categoryExpandHeight" [expanded]="category.expanded">
        {{description}}
      </expandable>
      <button ion-button clear item-end>View</button>
    </button>
    </div>
    </div>
  </ion-list>
  </div>
  
</ion-content>

