<!-- Generated template for the SearchListComponent component -->
<div class="container-width">
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="doSearch($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  
  <div *ngIf="displayDropdown">
    <ion-card>
      <ion-label>Search results</ion-label>
      <ion-list>
      <ion-item class="item" *ngFor="let obj of filteredList" (click)="selectedItem($event, obj)">
        <h2> {{ obj.name }} </h2>
        <h3> Taken on: <strong>{{ obj.date }}</strong> </h3>
      </ion-item>
      </ion-list>
    </ion-card>
  </div>

  
  <ion-label text-center>Tests I've taken</ion-label>
  <ion-label *ngIf="emptyHistory"> No tests taken yet </ion-label>
  <ion-list *ngIf="!emptyHistory">
    <ion-item class="item" *ngFor="let obj of ourList" (click)="selectedItem($event, obj)">
      <h2> {{ obj.name }} </h2>
      <h3> Taken on: <strong>{{ obj.date }}</strong> </h3>
      <div class="small-chart"><mini-graph class="chart-align"></mini-graph></div>

    </ion-item>
  </ion-list>

    
 
</div>
