search-list {

    .small-chart {
    
        
    }
    
    .chart-align > * {
        display: flex!important;
        justify-content: flex-end!important;
    }
    

    .container-width {
        width: 100vw;
    }

}
