<!-- Generated template for the SearchListComponent component -->
<div class="container-width">
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="doSearch($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  
  <div *ngIf="displayDropdown">
    <ion-card>
      <ion-label>Search results</ion-label>
      <ion-list>
      <ion-item class="item" *ngFor="let obj of filteredList" (click)="selectedItem($event, obj)">
        <h2> {{ obj.name }} </h2>
        <h3> Taken on: <strong>{{ obj.date | date:'short' }}</strong> </h3>
      </ion-item>
      </ion-list>
    </ion-card>
  </div>
  
  <ion-label text-center> <strong>Tests I've taken</strong></ion-label>

  <div>
    <ion-label *ngIf="emptyHistory" text-center> 
      <p> No tests taken yet </p>
      <p> Click <u class="light-text" (click)="goToTestsPage()">here</u> to take a test </p> 
      <p> <br></p>
      <p (click)="emptyHistory=!emptyHistory"><u><i>View Mock Data</i></u></p> 
    </ion-label>
    <ion-list *ngIf="!emptyHistory">
      <ion-item>
        <ion-label>View Tests From</ion-label>
        <ion-select [(ngModel)]="searchTime" (ionChange)="changeTimeView()">
          <ion-option *ngFor="let searchTime of searchTimes()">{{searchTime}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item display-block" *ngFor="let obj of ourList | testsByTime : searchTime " (click)="selectedItem($event, obj)">
        <div id="text-block" class="half-container">
          <h2> <strong> {{ obj.name }} </strong> </h2>
          <h3> Taken on: <strong>{{ obj.date |  date:fullDate }}</strong> </h3>
        </div>
        
        <div class="small-chart half-container">
          <mini-graph class="chart-align"></mini-graph>
        </div>
  
      </ion-item>
    </ion-list>
  </div>
 
</div>
