<!-- Generated template for the SearchListComponent component -->
<div class="container-width">
  
  <!---- Search Bar ---->
  <ion-searchbar
    [(ngModel)]="searchInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="doSearch($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  
  <!---- Search Results (exists only when search bar is clicked)  ---->
  <div *ngIf="displayDropdown" style="position: absolute; width: 100%; z-index: 105;">
    <ion-card style="margin-top: 0px">
      <ion-label padding-left="16px">Search results</ion-label>
      <ion-list>
      <ion-item class="item" *ngFor="let obj of filteredList" (click)="selectedItem($event, obj)">
        <h2> {{ obj.name }} </h2>
        <h3> Taken on: <strong>{{ obj.date | date:fullDate }}</strong> </h3>
      </ion-item>
      </ion-list>
    </ion-card>
  </div>
  
  <ion-label text-center> <strong>Tests I've taken</strong></ion-label>
  <div>
    <!---- Empty history View ---->
    <ion-label *ngIf="emptyHistory" text-center> 
      <p> No tests taken yet </p>
      <p> Click <u class="light-text" (click)="goToTestsPage()">here</u> to take a test </p> 
      <p> <br></p>
      <p (click)="emptyHistory=!emptyHistory"><u><i>View Mock Data</i></u></p> 
    </ion-label>
    
   <!---- Display our test history if it is not empty ---->
    <ion-list *ngIf="!emptyHistory">
      <!---- Each Test Card (test info and mini chart) ---->
      <ion-item class="item display-block" *ngFor="let obj of ourList | testsByTime : searchTime " (click)="selectedItem($event, obj)">
        <div id="text-block" class="half-container">
          <h2> <strong> {{ obj.name }} </strong> </h2>
          <h3> Taken on: <strong>{{ obj.date |  date:fullDate }}</strong> </h3>
        </div>
        <div class="small-chart half-container">
          <mini-graph class="chart-align"></mini-graph>
        </div>
      </ion-item>
    </ion-list>
    
    <!---- Fixed Bottom Footer (filters tests by time)  ---->
    <ion-item no-lines color="light" style="display: block; position: fixed; bottom: 0px; width: 100%; margin: 0 auto; height: 50px;">
      <ion-label>View Tests From</ion-label>
      <ion-select [(ngModel)]="searchTime" (ionChange)="changeTimeView()">
        <ion-option *ngFor="let searchTime of searchTimes()">{{searchTime}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
 
</div>
