search-list {
    
    .small-chart {
        width: 75%;
        display: flex!important;
        margin-left: auto;
        justify-content: flex-end!important;
        
    }
    
    .chart-align > * {
        display: flex!important;
        justify-content: flex-end!important;
        margin-left: auto;
    }
    

    .container-width {
        width: 100vw;
    }
    
    .item:hover{
        background-color: accent !important;
        cursor: pointer; cursor: hand;
        
    }
    
    .light-text {
        color: light!important;
    }
    
    @media only screen and (min-width: 768px) {
    /* For desktop (and bigger than iPad) */
    
        .display-block {
            display: inline-block!important;
     
        }
        
        #text-block {
            width: 50%!important;
            float: left;
        }
        
        .small-chart {
            width: 50%!important;
            float: right;
            padding-bottom: 2%;
        }
    }

}
