<!-- Generated template for the RegistrationComponent component -->
  <div class="registration-container">
    <form [formGroup]="registerForm" novalidate>
      <div class="registration-rows">
        
        <!--FIRST NAME INPUT-->
        <ion-item>
          <ion-label floating><small class="asterik">*</small>{{'REGISTER.FIRST' | translate}}</ion-label>
            <ion-input formControlName="firstName" type="string"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.firstName.valid && (registerForm.controls.firstName.dirty || submitAttempt)">
          <p>{{'REGISTER.ERRORFIRST' | translate}}</p>
        </ion-item>
        
        <!--LAST NAME INPUT-->
        <ion-item>
          <ion-label floating><small class="asterik">*</small>{{'REGISTER.LAST' | translate}}</ion-label>
            <ion-input formControlName="lastName" type="string"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.lastName.valid && (registerForm.controls.lastName.dirty || submitAttempt)">
          <p>{{'REGISTER.ERRORLAST' | translate}}</p>
        </ion-item>
        
        <!--AGE INPUT-->
        <ion-item>
          <ion-label floating>{{'REGISTER.AGE' | translate}}</ion-label>
            <ion-input formControlName="age" type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.age.valid && (registerForm.controls.age.dirty || submitAttempt)">
          <p>{{'REGISTER.ERRORAGE' | translate}}</p>
        </ion-item>
        
        <!--EMAIL INPUT-->
        <ion-item>    
          <ion-label floating><small class="asterik">*</small>{{'REGISTER.EMAIL' | translate}}</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)">
          <p>{{'REGISTER.ERROREMAIL' | translate}}</p>
        </ion-item>
        
        <!--PASSWORD INPUT-->
        <ion-item>
          <ion-label floating><small class="asterik">*</small>{{'REGISTER.PASSWORD' | translate}}</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        
        <!--CONFIRM PASSWORD INPUT-->
        <ion-item>
          <ion-label floating><small class="asterik">*</small>{{'REGISTER.CONFIRM' | translate}}</ion-label>
            <ion-input formControlName="confirmPassword" type="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.confirmPassword.valid && (registerForm.controls.confirmPassword.dirty || submitAttempt)">
          <p>{{'REGISTER.ERRORPASSWORD' | translate}}</p>
        </ion-item>
        
        <!--GENDER INPUT-->
        <ion-item>
          <ion-label floating><small class="asterik">*</small>{{'REGISTER.GENDER' | translate}}</ion-label>
            <ion-select formControlName="gender">
              <ion-option>{{'REGISTER.FEMALE' | translate}}</ion-option>
              <ion-option>{{'REGISTER.MALE' | translate}}</ion-option>
              <ion-option>{{'REGISTER.OTHER' | translate}}</ion-option>
              <ion-option>{{'REGISTER.DECLINE' | translate}}</ion-option>
            </ion-select>
        </ion-item>
        
        <!--EULA CHECKBOX-->
        <div class="registration-eula">
          <ion-checkbox formControlName="isEula" (ionChange)="clickedEula()"></ion-checkbox>
            <span>{{'REGISTER.EULA' | translate}}</span>
        </div>
        
        <!--SUBMIT BUTTON-->
      </div>
      <div class="register-button">
        <button ion-button outline (click)="submit()">{{'REGISTER.REGISTER' | translate}}</button>
      </div>
    </form>
    <div class="view-eula">
          <em> 
            <a (click)="showEula()">{{'REGISTER.TERMS' | translate}}</a>
          </em>

    </div>
  </div>
  <footer>
    <small class="asterik">*</small>{{'REGISTER.REQ' | translate}}
    </footer>
  <footer>{{'REGISTER.ALREADY' | translate}}<a (click)="goToLogin()">{{'REGISTER.HERE' | translate}}</a>
    </footer>

