registration {
    .registration{
        display: flex;
        flex-direction: column;
    }    
    .regTitle {
       
    }
    .registration-container {
        border-style: solid;
        // display: -webkit-flex;
        display: flex;
        // webkit-flex-direction: column;
        flex-direction: column;
        // -webskit-align-items: center;
        align-items: center;
        // -webskit-justify-content: center;
        justify-content: space-around;
        min-height: 75vh;
        max-height: 120vh;
        // max-width: 400px;
        margin: auto;
    }
    .registration-rows {
        flex: 1;
    }
    .registration-eula {
        flex: 1;
    }
    .register-button {
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
        margin: 6px;
        width: 24vw;
    }
}
