registration {
    .registration-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }
    .registration-rows {
        flex: 1;
        width: 75vw;
        max-width: 750px;
    }
    .registration-eula {
        flex: 1;
        margin: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        em{
            padding: 6px;
        }
    }
    .register-button {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 6px;
    }
    .scroll-content {
       
    }
    .asterik {
        color: red;
    }
    footer {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
        } 
    .button {
        background-color: #384e77;
        color: #e6f9af;
        border-color: #384e77;
    }
    p {
        font-size: 0.8em;
        color: #d2d2d2;
        }
    // .invalid {
    //         border: 1px solid #ea6153;
    //     }    
}

