registration {
.registration{
    display: flex;
    flex-direction: column;
}    
.regTitle {
    
}
.registrationForm {
    border-style: solid;
    display: flex;
    min-height: 75vh;
    max-width: 400px;
    margin: auto;
}

}
